
/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #128C7E 0%,
        #128C7E 15%,
        rgb(233, 231, 231) 15%,
        #ccc 100%
    );
    justify-content: center;
    align-items: center;
}

/* UTILITIES */
.flex{
    display: flex;
}

.list-style{
    list-style: none;
}

.pos-relative{
    position: relative;
}

/* GENERAL LAYOUT */

.container{
    width: 80%;
    min-width: 900px;
    height: 95%;
    background: #fff;
}

.container .content{
    flex-basis: 65%;
    background-image: #ccc;
    flex-direction: column;
    background-image: url(../img/mine.jpg);
   
}

.content .main-content{
  flex-grow: 1;
  overflow-y: auto;
}

/* SIDE layout */

.container .side{
    overflow-y: auto;
    flex-direction: column;
    flex-basis: 35%;
    background:#fff;
    border-right: 1px solid rgb(223, 223, 223);;
}

.side .desk-notifications{
   background: rgb(178, 228, 248);
}

.side .contacts{
    flex-grow: 1;
}

/* side style first section ( & header content) */


.header-side,
.header-content{
    background:#f1f1f1;
    align-items: center;
    padding: 12px;
}

.header-side .user,
.header-content .user {
   align-items: center;
}

.header-side .user img,
.header-content .user img{
   width: 45px;
   border-radius: 50%; 
   margin-right: 10px ;
}


 .user-icons,
 .header-chat-icons{
   flex-grow: 1;
   text-align: right;
   font-size: 20px;
   color: rgb(197, 193, 193);
}

.user-icons i,
.header-chat-icons i {
    margin-right: 15px;
}

/* side style second section */

.desk-notifications .icon-notifications{
    width: 45px;
    height: 45px;
    margin: 12px  18px; 
    text-align: center;
    font-size: 18px;
    line-height: 45px;
    border-radius: 50%;
    background:#fff;
    color:rgb(178, 228, 248)
}

.desk-notifications .text {
   margin-top: 16px;
}

.desk-notifications .text a{
  color: rgba(99, 96, 96, 0.808);
  font-size: 12px;
}


/* side style third section */

.new-chat{
    background:#f1f0ef;
    padding: 8px;
}

.search{
    padding: 7px 25px;
    color: rgb(197, 193, 193);
    border: 1px solid rgb(245, 245, 245);    
    background:#fff;   
}

.input{
    border: 1px solid rgb(245, 245, 245);
    border-left: none;
    flex-grow: 1;
    font-size: 11px;
    padding: 5px 8px;
    outline: none;
   
}

.input::placeholder{
    opacity: 0.3;
}

/* side style four section */

.contacts .list{
    flex-direction: column;
}

.contacts .list img{
     width: 50px;
     border-radius: 50%;
     margin-right: 15px;
}

.list li {
    cursor: pointer;
    align-items: center;
    padding: 10px 20px;
    border-top: .5px solid rgb(247, 245, 245);
    transition: background .3s;
}

.list li:hover {
   background: rgb(245, 245, 245);
}


/* CONTENT */
/* header */

.header-content .user p{
    color: grey;
    font-size: 12px;
}

/* main */

.main-content{
    padding: 50px;
}

.sent{
    justify-content: flex-end;
}

/* .received, */
/* .sent{
    margin-bottom: 20px;
} */

.message{
    align-items: center;
    width: 300px;
    height:50px;
    padding: 0 15px;
    background: #fff;
    border-radius: 10px;
    
}

.message span{
    font-size: 10px;
    position: absolute;
    bottom:5px;
    right: 6px;
    color: rgb(168, 167, 167);
}

/* message colors */

.message.received-color{
    background:#fff;
}

.message.sent-color{
    background:#DCF8C6;
}

/* footer */
.footer-content {
    padding: 10px 0;
    /* background: #ECE5DD; */
    background: rgba(234 231 228);
}


.footer-content .icon{
     color: grey;
     font-size: 20px;
     padding: 12px 30px;
}

.new-message{
    flex-grow: 1;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 5px 10px;
    
}

.new-message::placeholder{
    opacity: .3;
}